# Системные файлы
.DS_Store
Thumbs.db

# Файлы окружения
.env
*.log

# Зависимости (если будет проект на JS/Python и т.д.)
node_modules/
debug_logs/
posts/
postsCollections/
selections/
getNamesScripts.py/
chekScript.bat/
__pycache__/
data/
results/
venv/

