# Системные файлы
.DS_Store
Thumbs.db

# Файлы окружения и секреты (критично для безопасности)
.env
.env.*
*.pkl
travelpayoutsSetup.txt
*.log

# Предупреждение: никогда не коммить реальные credentials и куки!

# Зависимости (если будет проект на JS/Python и т.д.)
node_modules/
generated_queries/
debug_logs/
posts/
postsCollections/
selections/
getNamesScripts.py/
chekScript.bat/
__pycache__/
data/
results/
venv/

